html {
  position: relative;
  min-height: 100%;
}

header{
  background-image: linear-gradient(to top, transparent,#d66943, #d66943, #d66943);
  /* background-color: #d66943; */
  padding: 2rem;
  margin-bottom: 2rem;
}

#fonts{
  margin: 1.5rem 0;
}

#timesNR{
  font-family: 'Times New Roman', Times, serif;
}

#impact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cursive{
  font-family: cursive;
}

#typewriter{
  font-family: monospace;
}

.times{
  font-family: 'Times New Roman', Times, serif
}

.impact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cursive{
  font-family: cursive;
}

.typewriter{
  font-family: monospace;
}

body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  background: url("../images/bodybg.jpg") no-repeat center fixed;
  background-size: cover;
}
.container{
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 70%;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 25px
}
h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 300;
}
h6{
  font-weight: 300;
  font-size: 2rem;
}
.delete {
  margin-left: 20px;
  color: red;
  cursor: pointer;
  text-align: right;
}
#currentState{
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #d66943;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
}
input {
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  background-color: antiquewhite;
}
textarea {
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  background-color: antiquewhite;
}
.dataTitle {
  cursor: pointer;
  font-size: 24px;
}
#results {
  width: 40%;
  height: 200px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}
#actionButton {
  display: inline-block;
}
#buttons {
  margin: 20px;
}

.copyright{
  margin-top: 2rem;
  /* padding: .5rem; */
  color: #000000;
  /* background-color: #d66943; */
  opacity: .2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
